.nav-link:hover {
    background: linear-gradient(to right, #4682B4, #6ECCA4);
    color: white;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    transform: scale(1.05) rotate(2deg);
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
  }